<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test Page Object Model">
  	<classes>
  		<class name="com.Guru.TestCases.TC_LoginTest_001"></class>
 		<class name="com.Guru.TestCases.TC_HomePageTest_002"></class> 		
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
